### hide tmp / personal stuff
/out/**
/.snakemake
/notes
/data/problematic/**
/cache/**

### too big to push
smoove_latest.sif
samplot_v0.1.0.sif
/data/raw_data/reference/GCF_000002285.3_CanFam3.1_genomic.gff
/data/bertolotti/**
!/data/bertolotti/Canis_familiaris.Ngaps.bed
/data/smoove/called/*.bam
/data/smoove/called/merged.sites.vcf.gz
/data/smoove/genotyped/*.vcf.gz
/data/smoove/annotated/*.vcf*
/data/minimap/Canis_familiaris.mmi
/data/minimap/*.?am
/data/sniffles/*.bam
/imgs_DUPs.tar.gz
/imgs_INVs.tar.gz
/plcr_DUP.tar.gz
/plcr_INV.tar.gz
/imgs_DUPs_rerun.tar.gz
/imgs_INVs_rerun.tar.gz
/plcr_DUP_rerun.tar.gz
/plcr_INV_rerun.tar.gz
/logs/slurm/calmd.D-92-01.err.slurm