### hide tmp / personal stuff
/out/**
/.snakemake
/notes

### too big to push
/data/raw_data/reference/GCF_000002285.3_CanFam3.1_genomic.gff
/data/bertolotti/**
!/data/bertolotti/Canis_familiaris.Ngaps.bed
smoove_latest.sif
/out/**/*.bam
